<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js'></script>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet'>
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js'></script>
    <style>
        #calendar {
            max-width: 800px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    @* calendar *@
    <div id='calendar'></div>

    @* Booking Modal *@
    <div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="eventModalLabel">Event Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="eventForm">
                        <div class="mb-3">
                            <label for="comments" class="form-label">Comments</label>
                            <textarea class="form-control" id="comments" name="comments" rows="3" ></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" name="name" >
                        </div>
                        <div class="mb-3">
                            <label for="secondName" class="form-label">Second Name</label>
                            <input type="text" class="form-control" id="secondName" name="secondName" >
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" >
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label">Phone</label>
                            <input type="text" class="form-control" id="phone" name="phone" >
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="BookEvent">Book</button>
                </div>
            </div>
        </div>
    </div>

    @* Booking confirmation modal *@
    <div id="responseModal" class="modal fade" tabindex="-1" aria-labelledby="responseModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="responseModalLabel">Response Message</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="responseMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Calendar
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'timeGridWeek',
                firstDay:1,
                slotMinTime: '07:00:00',
                slotMaxTime: '19:00:00',
                nowIndicator: true,
                slotDuration: '00:10:00',
                views: {
                    timeGrid: {
                        allDaySlot: false
                    }
                },
                events: function (fetchInfo, successCallback, failureCallback) {
                    fetchEvents(fetchInfo, successCallback, failureCallback);
                },
                facilityId: null,
                eventClick: function (info) {
                    openModal(info.event);
                }
            });

            // GetAvailableSLots
            function fetchEvents(fetchInfo, successCallback, failureCallback) {
                var startDate = new Date(fetchInfo.start);
                startDate.setDate(startDate.getDate() + 1);
                var startDateFormatted = startDate.toISOString().split('T')[0];
                fetch(`/home/GetAvailableSlots?date=${startDateFormatted}`)
                    .then(response => response.json())
                    .then(data => {
                        var facilityId = data.facilityId;
                        var events = data.events;

                        calendar.setOption('facilityId', facilityId);

                        successCallback(events);
                        adjustCalendarHeight(calendar);
                    })
                    .catch(error => failureCallback(error));
            }

            // openModal
            function openModal(event) {
                var modal = new bootstrap.Modal(document.getElementById('eventModal'), {
                    backdrop: 'static', 
                    keyboard: false    
                });
                modal.show();

                document.getElementById('comments').value = '';
                document.getElementById('name').value = '';
                document.getElementById('secondName').value = '';
                document.getElementById('email').value = '';
                document.getElementById('phone').value = '';
                document.getElementById('BookEvent').addEventListener('click', function () {
                    BookEvent(event);
                    modal.hide();
                });
            }

            // bookEvent
            function BookEvent(event) {
                var eventData = {
                    start: event.startStr,
                    end: event.endStr,
                    comments: document.getElementById('comments').value,
                    name: document.getElementById('name').value,
                    secondName: document.getElementById('secondName').value,
                    email: document.getElementById('email').value,
                    phone: document.getElementById('phone').value,
                    facilityId: calendar.getOption('facilityId') 

                };
                submitEventData(eventData);
            }

            function submitEventData(eventData) {
                if (!eventData.comments || !eventData.name || !eventData.secondName || !eventData.email || !eventData.phone) {
                    openResponseModal('Please fill in Comments, Name, SecondName, Email and Phone');
                    return; 
                }
                fetch('/home/BookEvent', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(eventData)
                })
                    .then(response => {
                        if (!response.ok) {
                            return response.json().then(errorData => {
                                const errorMessages = errorData.map(error => error.errorMessage).join('; \n');
                                throw new Error(`Some of your inputs are invalid, please update these:\n${errorMessages}`);
                                location.reload();
                            });
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log(' booked:', data);
                        openResponseModal('Your slot has been booked successfully!');
                        location.reload();
                    })
                    .catch(error => {
                        console.error('Ooops there was a problem with the booking:', error);
                        openResponseModal(error.message);
                        location.reload();
                    });
            }

            function openResponseModal(message) {
                var modal = new bootstrap.Modal(document.getElementById('responseModal'), {
                    backdrop: 'static',
                    keyboard: false
                });
                var modalMessage = document.getElementById('responseMessage');
                modalMessage.textContent = message;
                modal.show();
            }

            function adjustCalendarHeight(calendar) {
                var eventCount = calendar.getEvents().length;
                var height = eventCount * 50 + 200;
                calendar.setOption('height', height);
            }

            calendar.render();
        });
    </script>
</body>
</html>
